.main_header {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/under_construction.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
	padding-top: 100vh;
}

.main {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.main h1 {
    font-size: 60px;
    letter-spacing: 15px;
}

.main hr {
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}

.main p {
    font-size: 30px;
    margin-bottom: 30px;
}

#launch {
    font-size: 40px;
    word-spacing: 20px;
}