html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: none;
	/* background-color: #F9F9F9; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none !important;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Header
-----------------------*/

.header-section {
	/* height: 2rem; */
	/* padding: 1rem 0 1rem 0; */
	position: absolute;
	z-index: 1;
	width: 100%;
	vertical-align: middle;
}

.header-section:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #0e0e0e;
	content: "";
	/* opacity: 0.90; */
	z-index: -1;
}

.header-section .logo {
	float: left;
	/* margin-right: 1rem; */
	
	width: 80px;
	margin-top:0.4rem;
	margin-right: 0.4rem;
}

.header-section .logo a {
	display: inline-block;
}

.header-section .main-menu {
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid #878787;

}
.header-section .main-menu ul
{
	margin:0;
}
.header-section .main-menu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 0rem;
	border-right: 1px solid #878787;
	font-size: 18px;
	padding: 0.4rem 0.6rem 0.4rem 0.6rem;

}

.header-section .main-menu ul li a.active_head:first-child{
	color: rgb(124, 205, 240);
}

.header-section .header-right .user-access a.active_head {
	color: rgb(124, 205, 240);
}

.header-section .main-menu ul li a {
	color: #fff;
	/* display: inline-block; */
	/* font-size: 20px; */
	/* font-weight: 400; */
	/* line-height: 42px; */
	-webkit-transition: all 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.header-section .main-menu ul li a:hover {
	color: rgb(124, 205, 240);
}

.header-section .header-right {
	float: right;
	font-size: 18px;
}

.header-section .header-right .user-access {
	display: inline-block;
	/* margin-right: 25px; */
	/* margin-top: 6px; */
}

.header-section .header-right .user-access a {
	display: inline-block;
	color: #fff;
	padding:0.4rem 0.6rem 0.4rem 0.6rem;

	/* font-size: 20px; */
	/* font-weight: 400; */
}

/* DROPDOWN */
.dropbtn {
	background: none;
	color: white;
	border: none;
	cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	padding-top: 10px;
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	margin-left: -15px;
	/* margin-top: 8px; */
	background: #0e0e0e;
	/* opacity: 0.90; */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	/* width:  250px; */
	white-space: nowrap;
	color: white;
	padding: 0.75em;
	text-decoration: none;
	display: block;
	font-size: 18px !important;
  }

  .dropdown-content a:hover {
	color: rgb(124, 205, 240);
	text-decoration: none;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }

  /* CARET ICON */
  .arrow {
	border: solid rgb(255, 255, 255);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin: 0 0 3px 6px;
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

  /* Search BAR */


  .searchbar{
	/* margin-left: 300px; */
    /* margin-bottom: auto;
    margin-top: auto; */
    background-color: rgb(32, 32, 32);
	border-radius: 30px;
	color:white;
	border-color: white;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    /* caret-color:transparent; */
	/* line-height: 40px; */
	transition: all 0.3s linear;
    }

    .searchbar:hover > .search_input{
	padding-left: 10px;
    width: 150px;
	caret-color:white;
	transition: all 0.3s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: white;
    }

    .search_icon{
    height: 27px;
	width: 27px;
	/* padding: 11px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
	color:white;
	border: none;
	cursor: pointer;
	} 

  /*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #1d1d1d;
	padding-top: 85px;
	padding-bottom: 0;
}

.footer-section .newslatter-form {
	position: relative;
	margin-bottom: 85px;
}

.footer-section .newslatter-form input {
	width: 100%;
	border: 1px solid #7E7E7E;
	height: 66px;
	color: #fff;
	background: #333333;
	padding-left: 35px;
	font-weight: 700;
	font-style: italic;
}

.footer-section .newslatter-form button {
	position: absolute !important;
	right: 0 !important;
	background: rgb(64, 152, 190) !important;
	width: 292px !important;
	color: #fff !important;
	font-size: 18px !important;
	font-weight: 700 !important;
	border: 1px solid rgb(64, 152, 190) !important;
	height: 66px !important;
	cursor: pointer !important;
	padding: 0 !important;
	margin: 0 !important;
}

.footer-section .footer-widget {
	margin-bottom: 40px;
}

.footer-section .footer-widget h4 {
	color: #fff;
	font-weight: 700;
	margin-bottom: 56px;
}

.footer-section .footer-widget ul li {
	list-style: none;
	color: #8e8e8e;
	font-size: 16px;
	line-height: 36px;
}

.footer-section .footer-widget .last {
	margin-left: -31px;
}

.footer-section .footer-widget a {
	color: #8e8e8e;
}

/* MODAL */
.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
    bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.bg-modal .modal-content {
	width: 500px;
	height: 250px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.bg-modal .modal-content img {
	width: 400px;
	height: 130px;
	padding-left: 70px;
}

.bg-modal .modal-content h3 {
	padding-top: 20px;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
}