body {
  background-color: #F9F9F9;
}

h2 {
  color: #282F35;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

p {
  color: #666666;
  font-family: 'Malgun Gothic', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px;
}

.container {
  margin: 0 auto;
}

.acc {
  margin: 90px 0;
  overflow: hidden;
  padding: 0;
}

.acc li {
  list-style-type: none;
  padding: 0;
}

.acc_ctrl {
  background: #FFFFFF;
  border: none;
  border-bottom: solid 1px #F2F2F2;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 2em;
  position: relative;
  text-align: center;
  width: 100%;
}

.acc_ctrl:before {
  background: #44596B;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 14px;
}

.acc_ctrl:after {
  background: #44596B;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
}

.acc_ctrl.active:before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.acc_ctrl.active h2, .acc_ctrl:focus h2 {
  position: relative;
}

.acc_panel {
  background: #F2F2F2;
  display: none;
  overflow: hidden;
  padding: 25px;
}

.station {
  padding: 10px 0px 0 15px;
}

.station h5 {
  position: relative;
  padding: 0px 0px 0px 20px;
  margin-bottom: -10px;
}

.station h5::after {
  margin-top: 2px;
  margin-left: 10px;
  position: absolute;
  left: -20px;
  top: 0;
  content: "";
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 50%;
}

.station-details-m1 {
  margin-left: -4px;
  border-left: 8px solid rgb(0, 105, 0);
  height: 100px;
}

.station-details-m2 {
  margin-left: -4px;
  border-left: 8px solid rgb(148, 0, 0);
  height: 100px;
}

.station-details-m3 {
  margin-left: -4px;
  border-left: 8px solid rgb(76, 111, 226);
  height: 100px;
}

.station-details-bus {
  margin-left: -4px;
  border-left: 8px solid rgb(0, 31, 134);
  height: 100px;
}

.eye{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100%;
  position: relative;
  width: 19px; height: 19px;
  margin-top: 10px;
  margin-left: 4.5px;
}
.eye::before{
  content: "";
  display: block;
  position: absolute;
  width: 9px; height: 9px;
  top: 3px;
  left: 3px;
  /* top: 50%; left: 50%; */
  /* transform: translate(-50%, -50%); */
  background: rgb(0, 0, 0);
  border-radius: 100%;
}

.eye h5 {
  /* position: relative; */
  margin-top: -4px;
  padding: 0px 0px 0px 30px;
}

.action-m1 {
  background-color: rgb(0, 105, 0);
  padding: 5px;
  color: white;
}

.action-m2 {
  background-color: rgb(148, 0, 0);
  padding: 5px;
  color: white;
}

.action-m3 {
  background-color: rgb(76, 111, 226);
  padding: 5px;
  color: white;
}

.action-bus {
  background-color: rgb(0, 31, 134);
  padding: 5px;
  color: white;
}

.results-title {
  padding: 170px 0 50px 265px;
}

.results-title h1 {
  padding-left: 20px;
}