/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 65px;
}

.section-title h2 {
	color: #242424;
	font-size: 48px;
	font-weight: 700;
}

.section-title p {
	color: #787878;
	font-size: 18px;
	letter-spacing: 0.2px;
}

.home-title {
	margin-bottom: 40px;
	text-align: center;
}

.home-title span {
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	color: #1d1d1d;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	margin-bottom: 34px;
}

.home-title span:before {
	position: absolute;
	left: 0;
	top: -6px;
	width: 100%;
	height: 2px;
	background: #1d1d1d;
	content: "";
}

.home-title span:after {
	position: absolute;
	right: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: #1d1d1d;
	content: "";
}

.home-title h2 {
	color: #464646;
	font-size: 36px;
	font-weight: 700;
	line-height: 52px;
}

.set-bg {
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url(../images/index_bg2.jpg);
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	padding: 11px 44px 15px;
	color: #fff;
	background: #FF5581;
	line-height: 23px;
}

.submit-btn {
	color: #fff;
	background: #FF5581;
	font-size: 14px;
	font-weight: 600;
	border: none;
	padding: 25px 70px;
	border-radius: 50px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	cursor: pointer;
}

/*---------------------
  Hero Section
-----------------------*/

.hero-section {
	height: 772px;
	padding-top: 253px;
}

.hero-text h1 {
	color: #fff;
	font-size: 96px;
	margin-bottom: 34px;
}

/* Cards */
.card-img-top {
	height: 400px;
	object-fit: cover;
}