/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 65px;
}

.section-title h2 {
	color: #242424;
	font-size: 48px;
	font-weight: 700;
}

.section-title p {
	color: #787878;
	font-size: 18px;
	letter-spacing: 0.2px;
}

.home-title {
	margin-bottom: 40px;
	text-align: center;
}

.home-title span {
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	color: #1d1d1d;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	margin-bottom: 34px;
}

.home-title span:before {
	position: absolute;
	left: 0;
	top: -6px;
	width: 100%;
	height: 2px;
	background: #1d1d1d;
	content: "";
}

.home-title span:after {
	position: absolute;
	right: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: #1d1d1d;
	content: "";
}

.home-title h2 {
	color: #464646;
	font-size: 36px;
	font-weight: 700;
	line-height: 52px;
}

.set-bg {
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url(../images/index_bg2.jpg);
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	padding: 11px 44px 15px;
	color: #fff;
	background: #FF5581;
	line-height: 23px;
}

.submit-btn {
	color: #fff;
	background: #FF5581;
	font-size: 14px;
	font-weight: 600;
	border: none;
	padding: 25px 70px;
	border-radius: 50px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	cursor: pointer;
}

/*---------------------
  Hero Section
-----------------------*/

.hero-section {
	height: 772px;
	padding-top: 253px;
}

.hero-text h1 {
	color: #fff;
	font-size: 96px;
	margin-bottom: 34px;
}

/* Cards */
.card-img-top {
	height: 400px;
	object-fit: cover;
}

.bg-primary {
	background-color: rgba(33, 74, 92, 0.972) !important;
}

.ftco-section {
  /* padding: 6em 0; */
  position: relative; 
}
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.bg-light {
  background-color: #f8f9fa !important; }

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
	padding-left: 0; }
	
.featured-top {
	margin-top: -75px;
}

.request-form {
  background: #fff;
  padding: 30px;
  z-index: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06); }
  .request-form h2 {
    color: #fff;
    font-size: 22px;
	font-weight: 600; 
	padding-bottom: 10px; }
  .request-form p {
    color: rgba(255, 255, 255, 0.8); }
  .request-form .form-group {
    position: relative;
    width: 100%;
    display: block; }
    .request-form .form-group .icon {
      position: absolute;
      top: 50% !important;
      right: 0;
      font-size: 16px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border: 1px solid red; }
      .request-form .form-group .icon span {
        color: rgba(0, 0, 0, 0.3) !important; }
    .request-form .form-group .select-wrap, .request-form .form-group .input-wrap {
      position: relative; }
      .request-form .form-group .select-wrap select, .request-form .form-group .input-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
    .request-form .form-group .btn {
      width: 100%;
      display: block !important; }
  .request-form label.label {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600; }
  .request-form .form-control {
    border: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    height: 40px !important;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .request-form .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(255, 255, 255, 0.7); }
    .request-form .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.7); }
    .request-form .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(255, 255, 255, 0.7); }
    .request-form .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.7); }
    .request-form .form-control:focus, .request-form .form-control:active {
      border-color: #fff; }
  .request-form textarea.form-control {
	height: inherit !important; }
	

.btn {
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	font-size: 16px; }
	.btn:hover, .btn:active, .btn:focus {
	  outline: none; }
	.btn.btn-primary {
	  background: #1089ff !important;
	  border: 1px solid #1089ff !important;
	  color: #fff !important; }
	  .btn.btn-primary:hover {
		border: 1px solid #1089ff;
		background: transparent;
		color: #1089ff; }
	  .btn.btn-primary.btn-outline-primary {
		border: 1px solid #1089ff;
		background: transparent;
		color: #1089ff; }
		.btn.btn-primary.btn-outline-primary:hover {
		  border: 1px solid transparent;
		  background: #1089ff;
		  color: #fff; }
	.btn.btn-secondary {
	  background: #1d1d1d !important;
	  border: 1px solid #1d1d1d !important;
	  color: #fff !important; }
	  .btn.btn-secondary:hover {
		border: 1px solid #1d1d1d;
		background: transparent;
		color: #1d1d1d; }
	  .btn.btn-secondary.btn-outline-secondary {
		border: 1px solid #1d1d1d;
		background: transparent;
		color: #1d1d1d; }
		.btn.btn-secondary.btn-outline-secondary:hover {
		  border: 1px solid transparent;
		  background: #1d1d1d;
		  color: #fff; }
	.btn.btn-outline-white {
	  border-color: rgba(255, 255, 255, 0.8);
	  background: none;
	  -webkit-border-radius: 5px;
	  -moz-border-radius: 5px;
	  -ms-border-radius: 5px;
	  border-radius: 5px;
	  border-width: 1px;
	  color: #fff; }
	  .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
		background: #fff;
		border-color: #fff;
		color: #1089ff; }
	.btn.btn-black {
	  background: #000000 !important;
	  border: 1px solid #000000 !important;
	  color: #fff !important; }
	  .btn.btn-black:hover {
		border: 1px solid #1089ff;
		background: transparent;
		color: #1089ff; }
	  .btn.btn-black.btn-outline-black {
		border: 1px solid #f0f0f0 !important;
		background: transparent !important;
		color: #000000 !important; }
		.btn.btn-black.btn-outline-black:hover {
		  border: 1px solid #1089ff !important;
		  background: #1089ff !important;
		  color: #fff !important; }

/*LOGIN STYLE START*/
@import url('https://fonts.googleapis.com/css?family=Numans');
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */

/* html,body{
background-size: cover;
background-repeat: no-repeat;
background-color: #212529;
height: 100%;
font-family: 'Numans', sans-serif;
} */

.container{
height: 100%;
align-content: center;
}

.cardlogin{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(33,37,41,0.85) !important;
}

/* .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #007bff;
} */

.social_icon span:hover{
color: white;
cursor: pointer;
}

/* .card-header h3{
color: white;
} */

/* .social_icon{
position: absolute;
right: 20px;
top: -45px;
} */

.input-group-prepend span{
width: 50px;
background-color: #212529;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #212529;
width: 100px;
}

.login_btn:hover{
color: #007bff;
background-color: #212529;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.set-bg2 {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/login-background.jpg);
}
.card-body-signup{
	padding-top: 0rem !important;
}

/*LOGIN STYLE END*/


/*SIGNUP STYLE START*/
.cardsignup{
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(33,37,41,0.85) !important;
}
/*SIGNUP STYLE END*/